@using StyleStock.domain.DTOS
@model IEnumerable<CategoryDTO>
@{
	ViewData["Title"] = "Lista de Categorias";
	ViewData["ActiveMenu"] = "Customer";
}

@if (ViewBag.ErrorMessage != null)
{
	<div class="alert alert-danger">
		@ViewBag.ErrorMessage
	</div>
}

<div class="row justify-content-center">
	<main class="col-10">
		<h1 class="text-black text-center mb-4">Lista de Categorias</h1>
		<a class="btn btn-primary mb-3" asp-controller="Category" asp-action="Create">Nueva Categoria</a>
		<div class="table-responsive">
			<table class="table table-bordered text-center">
				<thead class="thead-light">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nombre De Categoria</th>
						<th scope="col">Descripcion</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Id</td>
							<td>@item.Name</td>
							<td>@item.Description</td>
							<td>
								<a asp-controller="Category"
								   asp-action="Update"
								   asp-route-id="@item.Id"
								   class="btn btn-success me-2">Editar</a>
								<a asp-controller="Category"
								   asp-action="Delete"
								   asp-route-id="@item.Id"
								   class="btn btn-danger">Eliminar</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</main>

</div>


